<div class="signin">
    <h3 class="author_heading">Sign In</h3>
</div>

<form action="/admin" method="POST" class="login">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter you username" name="username">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter you password" name="password">

    <button type="submit" value="Login" class="button">Login</button>

    <p>Don't have a account?&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register"><b>Sign Up</b></a></p>
</form>


