<h3 class="admin-title">Sign in</h3>

<form action="/admin" method="post" class="login">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter you username" name="username">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter you password" name="password">

    <button type="submit" value="login" class="btn">Login</button>
</form>


<h3 class="admin-title">Register</h3>

<form action="/admin" method="post" class="register">
    
    <label for="Email"><b>Email</b></label>
    <input type="email" placeholder="Email" name="email">
    <label for="password"><b>Code</b></label>
    <input type="password" placeholder="Code" name="code">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter you username" name="username">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter you password" name="password">

    <button type="submit" value="Register" class="btn">Register</button>
</form>

