<h3 class="admin-title">Sign in</h3>

<form action="/admin" method="POST" class="login">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter you username" name="username">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter you password" name="password">

    <button type="submit" value="Login" class="btn">Login</button>
</form>


<!-- <h3 class="admin-title">Register</h3>

<form action="/admin" method="post" class="register">
    
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter you username" name="username">
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter you password" name="password">

    <button type="submit" value="Register" class="btn">Register</button>
</form> -->

