<div class="author">
    <h1 class="author_heading">Hi,I'm Luke</h1>
    <p class="author_body">Web and iOS developer.</p>
</div>

<img src="/img/hero-image.webp" alt="person" class="hero-image" width="" height="">

<section class="articles">
    <h2 class="articles_heading">Lastest Posts</h2>

    <ul class="article_ul">
        <li>
           <a href="#">
            <span class="article-list_date">Post Title</span>
           </a> 
        </li>
    </ul>

    <a href="" class="pagination">&lt; View Older Posts</a>
</section>