<div class="author">
    <h1 class="author_heading">Hi,I'm Luke</h1>
    <p class="author_body">iOS and Web developer,still learning.</p>
</div>

<img src="/img/hero-image.webp" alt="person" class="hero-image" width="982px" height="">

<section class="articles">
    <h2 class="articles_heading">Lastest Posts</h2>

    <ul class="article_ul">
        <li>
           <a href="#">
            SwiftUI中的传参
            <span class="article-list_date">Date</span>
           </a> 
        </li>
        <li>
           <a href="#">
            Post Title 2
            <span class="article-list_date">Date</span>
           </a> 
        </li>
        <li>
           <a href="#">
            Post Title 3
            <span class="article-list_date">Date</span>
           </a> 
        </li>
    </ul>

    <a href="" class="pagination">&lt; View Older Posts</a>
</section>