<section class="articles">
    <h2 class="articles_heading">Lastest Posts</h2>

    <ul class="article_ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <%= post.title %>
                    <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
                </a> 
            </li>
        <% }) %>
    </ul>
    
    <% if (nextPage) { %>
        <a href="/blog/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
</section>