<div class="author">
    <h1 class="author_heading">Hi,I'm Luke</h1>
    <p class="author_body" style="margin-bottom: 50px;">iOS and Web developer,still learning.</p>
</div>

<img src="/img/hero-image.webp" alt="person" class="hero-image" width="982px" height="">

<section class="articles">
    <h2 class="articles_heading">Lastest Posts</h2>

    <ul class="article_ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <%= post.title %>
                    <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
                </a> 
            </li>
        <% }) %>
    </ul>
    

    <% if (nextPage) { %>
        <a href="?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
</section>